{% extends '::base.html.twig' %}

{% block title %}
    There was an exception!
{% endblock title %}

{% block login_logout_panel %}
{% endblock login_logout_panel %}

{% block body %}
    <h2>An error occured!</h2>
    <p>
        We are very sorry, but there was a serious error in the application!
    </p>
{% endblock body %}

